body {
    margin: 0;
    padding: 0;
    background-color:white;
    background-image: url(/image/Background_img1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* #first {
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    background-color: blueviolet;
    width: 33.34%;
    margin-left: 33.33%;
} */

.nav_first {
    /*text-align: justify; ! */
    background-color: #000000;
    border: 5px solid #252728;
    height: 60px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    box-shadow: 10px 20px 30px rgb(0, 0, 0);
}

span {
    display: inline-block;
    font-size: 25px;
    color: #EFEEEA;
    background-color: #000000;
}

.margin {
    margin-left: 165px;
    padding: 10px;
    color: #FE7743;
}

button {
    border-radius: 5px;
    /* font-size: 30px; */
}

#fi_a {
    text-decoration: none;
    color: #FE7743;
    background-color: #000000;
}

#amazon {
    margin-left: 15px;
}

input[type="text"] {
    background-color: #EFEEEA;
    width: 200px;
    height: 25px;
    border-radius: 10px;
}

.nav_s {
    width: 80px;
    height: 25px;
    border-radius: 10px;
    background-color: #FE7743;

}

/* hero section */
#hero {
    background-image: url(/image/hero.png);
    width: 98.55%;
    height: 400px;
    margin-top: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: 5px solid none;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 10px 20px 30px rgb(0, 0, 0);
}

#hero_sub {
    text-align: center;
    position: absolute;
    margin-left: 29%;
    margin-top: 5%;
    background: none;
    color: #FE7743;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* About ABTEC */

.abouts{
    background-color: #EFEEEA;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: 300px;
    height: 40px;
    margin-left: 42%;
    border: 5px solid #FE7743;
    border-radius: 10px;
}

.abouts p{
    line-height: 0px;
    margin: 0px;
    padding: 20px;
}

#aboutss{
    font-weight: bolder;
    font-size: 30px;
}
.about {
    background-color: #EFEEEA;
    width: 88%;
    height: 600px;
    margin-left: 6%;
    margin-bottom: 40px;
    border: 10px solid #FE7743;
    border-radius: 20px;
    box-shadow: 10px 20px 30px #fe784357;
}

#about_text {
    background-color: #FE7743;
    text-align: center;
    position: absolute;
    width: 40%;
    height: 250px;
    margin-top: 160px;
    margin-left: 50px;
    box-shadow: 10px 20px 30px #fe784357;
    border-radius: 20px;
}

.dd{
    margin-left: 10px;
    margin-right: 10px;
}

#about_pic{
    margin-left: 52%;
    /* background-color: aqua; */
    height: 100%;
}

#a_pici{
    background-image: url(/image/hand_robot.png);
    width: 50%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: 5px solid none;
    margin-top: 20px;
}

#a_picii{
    background-image: url(/image/web_development.png);
    width: 50%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: 5px solid none;
     margin-top: 10px; 
    margin-left: 250px;
}

#a_piciii{
    background-image: url(/image/programmers.png);
    width: 55%;
    height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 40px;
    border: 5px solid none;
    margin-top: 10px;
}

/* Our Services */

.service{
    font-size: 0;
    text-align: center;
}

.service_i{
    background-color: #808080;
    margin-top: 70px;
    margin-bottom: 40px;
    text-align: center;
    width: 300px;
    height: 40px;
    margin-left: 39.72%;
    border: 10px solid #252728;
    border-radius: 10px;
    box-shadow: 10px 20px 30px ;
    
}

.service_i p{
    line-height: 0px;
    margin: 0px;
    padding: 20px;
    color: #272525;
}

#service_ii{
    font-weight: bolder;
    font-size: 40px;
}


#cardi{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-left: 25px;
    background-color: #808080;
    width: 28%;
    height: 250px;
    border: 12px solid #252728;
    box-shadow: 10px 20px 30px ;
    border-radius: 30px;
}


#cardii{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-left: 50px;
    background-color: #808080;
    width: 28%;
    height: 250px;
    border: 12px solid #252728;
    box-shadow: 10px 20px 30px ;
    border-radius: 30px;
}
#cardiii{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-left: 50px;
    background-color: #808080;
    width: 28%;
    height: 250px;
    border: 12px solid #252728;
    box-shadow: 10px 20px 30px ;
    border-radius: 30px;
}
#cardiv{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-left: 0px;
    margin-top: 40px;
    background-color: #808080;
    width: 28%;
    height: 250px;
    border: 12px solid #252728;
    box-shadow: 10px 20px 30px ;
    border-radius: 30px;
}
#cardv{
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    margin-left: 50px;
    margin-top: 40px;
    background-color: #808080;
    width: 28%;
    height: 250px;
    border: 12px solid #252728;
    box-shadow: 10px 20px 30px ;
    border-radius: 30px;
}

